{{!--<div class="col-12 col-md-6 col-lg-4 movie-card">
    <a href="/movie/{{id}}" class="text-decoration-none">
    <img src="{{poster}}" alt="{{title}}" class="img-fluid">
    <div class="movie-details">
        <h5>{{title}} ({{year}})</h5>
        <p><strong>Tagline:</strong> {{tagline}}</p>
        <p>{{description}}</p>
        <p><strong>Duration:</strong> {{minutes}} minutes</p>
        <p class="movie-rating">Rating: {{rating}}</p>
    </div>
    </a>
</div>--}}

<div class="col-12 col-md-6 col-lg-4 movie-card">
    <a href="/movie/{{id}}" class="text-decoration-none">
        <img src="{{poster}}" alt="{{title}}" class="img-fluid">
        <div class="movie-details">
            <h5>{{name}} ({{year}})</h5>
            <p><strong>Tagline:</strong> {{tagline}}</p>
            <p>{{description}}</p>
            <p><strong>Duration:</strong> {{minute}} minutes</p>
            <p class="movie-rating">Rating: {{rating}}</p>
        </div>
    </a>
</div>
