<div class="container my-5">
    <h2 class="text-center">{{movie.name}} ({{movie.year}})</h2>
    <p class="text-center text-muted">{{movie.tagline}}</p>
    <div class="row my-4">
        <div class="col-md-6">
            <img src="{{movie.image}}" alt="{{movie.name}}" class="img-fluid w-100 h-100" style="object-fit: cover;">
        </div>
        <div class="col-md-6">
            <h5>Descrizione</h5>
            <p>{{movie.description}}</p>
            <h5>Rating</h5>
            <p>{{movie.rating}}</p>
            <h5>Regista</h5>
            <p>{{movie.director}}</p>
            <h5>Attori Principali</h5>
            <ul>
                {{#each movie.actors}}
                    <li>{{this.name}} - {{this.role}}</li>
                {{/each}}
            </ul>
            <h5>Studios</h5>
            <ul>
                {{#each movie.studios}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
